.about {
  width: 340px;
  align-self: flex-start;
  font-size: 15px;
  flex-shrink: 0;
  color: white;
  padding: 32px;

  > *:not(:last-child) {
    margin-bottom: 18px;
  }
  a {
    color: white;
    text-decoration: dotted underline white 1px;
  }
  @media screen and (max-width: 850px) {
    align-self: auto;
    width: min(500px, 100%);
  }
}

.controls {
  display: flex;
  gap: 2px;
  flex-wrap: wrap;
  border-bottom: 3px solid var(--black);
  > button {
    font-family: aleo;
    padding: 5px 10px;
    border: none;
    display: flex;
    align-items: center;
    flex-grow: 1;
    justify-content: center;
    gap: 6px;
    transition: all 0.2s;
    font-size: 14px;
    background-color: white;
    transition: font-weight 0.3s;
    cursor: pointer;
    &:hover {
      font-weight: 700;
    }
    &.active {
      color: white;
      background-color: var(--black);
      font-weight: 700;
    }
  }
  @media screen and (max-width: 850px) {
    position: sticky;
    top: 0;
    z-index: 99;
    background: var(--black);
  }
}

.items {
  position: relative;
  margin-bottom: 32px;
}

.items-wrapper {
  overflow-y: auto;
  flex: 1;
}

.main {
  display: flex;
  height: 100vh;
  height: 100dvh;
  gap: 24px;
  justify-content: center;
  align-items: stretch;
  background-color: var(--black);
  @media screen and (max-width: 850px) {
    flex-direction: column;
    height: auto;
    align-items: center;
    gap: 24px;
  }
}

.timeline {
  width: 560px;
  display: flex;
  flex-direction: column;
  @media screen and (max-width: 850px) {
    align-self: auto;
    width: min(500px, 100%);
  }
}
