$breakpoint: 850px;
$background: #f0f0f0;

.about {
  width: 340px;
  align-self: flex-start;
  font-size: 15px;
  flex-shrink: 0;

  > *:not(:last-child) {
    margin-bottom: 18px;
  }
  a {
    color: red;
    &:hover {
      text-decoration: underline;
    }
  }
  @media screen and (max-width: $breakpoint) {
    align-self: auto;
    width: min(500px, 100%);
  }
}

.controls {
  display: flex;
  padding-bottom: 20px;
  gap: 6px;
  flex-wrap: wrap;
  > button {
    border: 1px solid var(--theme);
    color: var(--theme);
    padding: 5px 14px;
    display: flex;
    align-items: center;
    flex-grow: 1;
    justify-content: center;
    gap: 6px;
    transition: all 0.2s;
    font-size: 14px;
    background-color: white;
    &:hover {
      background-color: color-mix(in srgb, var(--theme) 12%, white);
    }
    &.active {
      color: white;
      background-color: var(--theme);
    }
  }
  @media screen and (max-width: $breakpoint) {
    position: sticky;
    top: 0;
    z-index: 99;
    background: $background;
    padding-top: 16px;
  }
}

.items {
  position: relative;
  margin-bottom: 32px;
  &:before {
    content: "";
    position: absolute;
    background: #00000015;
    top: 0;
    bottom: 0;
    left: 16px;
    width: 8px;
    border-radius: 99px;
  }
  &:has(:last-child[hidden]):before {
    bottom: 12px;
  }
}

.items-wrapper {
  overflow-y: auto;
  flex: 1;
}

.main {
  display: flex;
  height: 100vh;
  height: 100dvh;
  gap: 60px;
  padding: 40px 40px 0px;
  justify-content: center;
  align-items: stretch;
  background-color: $background;
  @media screen and (max-width: $breakpoint) {
    flex-direction: column;
    height: auto;
    align-items: center;
    padding: 42px 20px 0px;
    gap: 24px;
  }
}

.timeline {
  width: 460px;
  display: flex;
  flex-direction: column;
  @media screen and (max-width: $breakpoint) {
    align-self: auto;
    width: min(500px, 100%);
  }
}

// Just for passing down CSS custom properties

.all {
  --theme: rgb(255, 98, 98);
}
.education {
  --theme: green;
}
.work {
  --theme: blue;
}
.project {
  --theme: purple;
}
.award {
  --theme: rgb(234, 148, 0);
}
